@import uk.gov.hmrc.hmrcfrontend.views.html.helpers.HmrcLayout
@import uk.gov.hmrc.hmrcfrontend.views.config.StandardBetaBanner
@import views.html.helper.CSPNonce

@this(hmrcLayout: HmrcLayout, hmrcReportTechnicalIssueHelper: HmrcReportTechnicalIssueHelper)

@(pageTitle: String)(contentBlock: Html)(implicit request: RequestHeader, messages: Messages)

@content = {
@contentBlock
@hmrcReportTechnicalIssueHelper()
}
@hmrcLayout(
  pageTitle = Some(pageTitle),
  isWelshTranslationAvailable = false,
  serviceUrl = None,
  signOutUrl = Some(uk.gov.hmrc.cbcrfrontend.controllers.routes.SharedController.signOutSurvey.url),
  phaseBanner = None,
  nonce = CSPNonce.get,
)(content)