@import uk.gov.hmrc.hmrcfrontend.views.html.helpers.HmrcLayout
@import uk.gov.hmrc.hmrcfrontend.views.config.StandardBetaBanner
@import views.html.helper.CSPNonce
@import uk.gov.hmrc.cbcrfrontend.controllers.routes

@this(hmrcLayout: HmrcLayout,
      hmrcReportTechnicalIssueHelper: HmrcReportTechnicalIssueHelper,
      hmrcTimeoutDialogHelper: HmrcTimeoutDialogHelper)

@(
  pageTitle: String,
  additionalScriptsBlock: Option[Html] = None,
  backLinkUrl: Option[String] = None
)(contentBlock: Html)(implicit request: RequestHeader, messages: Messages)

@content = {
  @contentBlock
  @hmrcReportTechnicalIssueHelper()
}

@scripts = {
  @additionalScriptsBlock.getOrElse(None)
}

@hmrcLayout(
  pageTitle = Some(pageTitle),
  isWelshTranslationAvailable = false,
  serviceUrl = None,
  signOutUrl = Some(routes.SharedController.signOutSurvey.url),
  backLinkUrl = backLinkUrl,
  phaseBanner = None,
  additionalHeadBlock = Some(hmrcTimeoutDialogHelper(signOutUrl = routes.SharedController.signOutSurvey.url)),
  additionalScriptsBlock = Some(scripts),
  nonce = CSPNonce.get
)(content)